name: publish-pypi
# This workflow is triggered on pushes to the repository.
on:
  push:
    branches:
      - master

jobs:
  build:
    name: publish-pypi
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: 3.8
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
      - name: Build wheels
        run: |
          python setup.py sdist bdist_wheel
      - name: Publish wheels to test PyPI
        uses: pypa/gh-action-pypi-publish@master
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.pypi_password }}
          repository_url: https://test.pypi.org/legacy/